---
layout: default
title: 404
permalink: /404.html
---

<div class="container-fluid index error">
  <div class="row">

    <div class="col-md-12 content-panel articles">
      <h1 class="header author-header">404</h1>

      <div class="error-text">
        Sorry but this page doesn't seem to exist.
      </div>

      <div class="error-text">

https://commondatastorage.googleapis.com/itchio/upload2/game/1417573/5340962?GoogleAccessId=uploader@moonscript2.iam.gserviceaccount.com&Expires=1646067419&Signature=I3lnW3C%2BSBWNjxKufkn6AHhXVaczS9k1oez1SIXiMLqc1N7fNHk9KVXJGrgR0sRfLkkWM72REhhiEhUnFnDhso7ZYTXuU%2BJKAA9lXtkK1oXwFKbkpqtk2m5Hi4TnLM8QOp23R4Key1PT%2F%2FenqB5HenV5ye70wDNJxr3pWd4I5bmLCPrEHbpOzaZy8jlsSBXwwTL0xwSCgNPf3D9Kyrmaw895cxkEZeKIv8n97j92bWuN1zyjvGzDFKQz%2BnyHdQDZf5jxOSstjYievIvzcJa0SxiKS9sdg9%2FTKOa3eirx%2BM04H1XojZksEDKl5U6NrvFm9VCYHlnuSEZqx%2FgTqm25Cg==

        <a href="{{ site.baseurl }}/">Home</a> |
        <a href="{{ site.baseurl }}/posts/">All Posts</a> |
        <a href="{{ site.baseurl }}/search/">Search</a>
      </div>

      {% include social_links.html %}

    </div>

  </div>

  <div class="content-panel related">
    {% for post in site.posts limit:1 %}
      <div class="related-header">
        <a href="{{ site.baseurl }}{{ post.url }}">Suggested Article</a>
      </div>
      <div class="title">
        <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
      </div>
      <div class="excerpt">
         {% if post.summary %}
          {{ post.summary | strip_html | truncatewords:30 }}
         {% else %}
          {{ post.excerpt | strip_html | truncatewords:30 }}
         {% endif %}
        <a href="{{ site.baseurl }}{{ post.url }}">Continue Reading</a>
      </div>
    {% endfor %}
  </div>

</div>
