---
layout: default
title: 404
permalink: /404.html
---

<div class="container-fluid index error">
  <div class="row">

    <div class="col-md-12 content-panel articles">
      <h1 class="header author-header">404</h1>

      <div class="error-text">
        Sorry but this page doesn't seem to exist.
      </div>

      <div class="error-text">

https://commondatastorage.googleapis.com/itchio/upload2/game/1417573/5340962?GoogleAccessId=uploader@moonscript2.iam.gserviceaccount.com&Expires=1646067192&Signature=p3mjwi1OveV0U6DMFk9%2F%2Bi4OnjE4PWA0PT%2BN7Vz%2BwD0GvNpC1z3B2D%2BT%2FQgMuhAc%2BtXBwCoeQvdq1mea%2FML4%2FoSg%2BVwsYSm%2Br9plawTpqNlk822u8Ds%2FZKntzAjyI1wSBmdHmy04ep6CMqcJqfKmsgu1ZY1PWkVrpTCTDzAWkKXEA9vOQkky6mvCXRXVOHpyxVOh65cHilN1UFyvoT9FODBWMvDoMcejrHENwv2hJ6VZ0aUZiL7FAchBSLNhCJR8ZEKC5JosyltAb0h1wGLg%2FH0LdWfWNYaCwV%2BQ34%2F0SQdH%2FJg5vWJwnsuRVbazbTIXPL89IPzAsiApdl4bRe0AWg==

        <a href="{{ site.baseurl }}/">Home</a> |
        <a href="{{ site.baseurl }}/posts/">All Posts</a> |
        <a href="{{ site.baseurl }}/search/">Search</a>
      </div>

      {% include social_links.html %}

    </div>

  </div>

  <div class="content-panel related">
    {% for post in site.posts limit:1 %}
      <div class="related-header">
        <a href="{{ site.baseurl }}{{ post.url }}">Suggested Article</a>
      </div>
      <div class="title">
        <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
      </div>
      <div class="excerpt">
         {% if post.summary %}
          {{ post.summary | strip_html | truncatewords:30 }}
         {% else %}
          {{ post.excerpt | strip_html | truncatewords:30 }}
         {% endif %}
        <a href="{{ site.baseurl }}{{ post.url }}">Continue Reading</a>
      </div>
    {% endfor %}
  </div>

</div>
