--- 
layout: default
make-smaller-titles: false
---

<div class="container-fluid index">
    <div class="row">

        <div class="col-md-12 main content-panel">

            <div class="gravatar">
                <img src="{{ site.title_image }}" style="border-radius: 20%;" height="75" width="75" alt="{{ site.title }}" />
            </div>

            <h1 class="header author-header" itemprop="headline">{{ site.title }}</h1>

            <div class="author-text">
                {{ site.title_description }}
            </div>

            {% include social_links.html %}
          </div>
          <div class="col-md-12 main content-panel">

            <div class="articles">

              <h2>Projects</h2>

              <ul>
                      <li>
                            <a href="https://pepperboi.com/burnwood">
                              <img src="https://img.itch.zone/aW1nLzEwMDcwMDgyLnBuZw==/315x250%23c/bQjWVZ.png" class="projects" alt="{{ site.title }}" />
                            </a>
                          <a href="https://pepperboi.com/dight">
                            <img src="https://img.itch.zone/aW1nLzk1MzczNzAucG5n/315x250%23c/ldW6vi.png" class="projects" alt="{{ site.title }}" />
                          </a>
                          <a href="https://pepperboi.com/terrareal">
                            <img src="https://img.itch.zone/aW1nLzgyODMwMDQuZ2lm/315x250%23c/DBTo%2Fz.gif" class="projects" alt="{{ site.title }}" />  
                          </a>
                      </li>
                  <li>
                      <small><i><a href="https://pepperboi.itch.io">more projects...</a></i></small>
                  </li>
              </ul>

            </div>

        </div>
          <div class="col-md-12 main content-panel">

            <div class="articles">

              <h2>Latest Articles</h2>

              <ul>
                  {% for post in site.posts limit: site.post_limit %}

                      <li>
                          <a href="{{ post.link }}">{{ post.title }}</a>
                          <small class="hidden-xs">{{ post.date | date: "%B %-d, %Y" }}</small>
                      </li>

                  {% endfor %}
                  <li>
                      <small><i><a href="{{ site.baseurl }}/posts/">more...</a></i></small>
                  </li>
              </ul>

            </div>

        </div>

    </div>
</div>
