---
layout: default
make-smaller-titles: false
---

<div class="container-fluid index">
    <div class="row">

        <div class="col-md-12 main content-panel">

            <div class="gravatar">
                <img src="{{ site.title_image }}" style="border-radius: 20%;" height="75" width="75" alt="{{ site.title }}" />
            </div>

            <h1 class="header author-header" itemprop="headline">{{ site.title }}</h1>

            <div class="author-text">
                {{ site.title_description }}
            </div>

            {% include social_links.html %}
          </div>
          <div class="col-md-12 main content-panel">

            <div class="articles">

              <h2>Projects</h2>

              <ul>
                      <li>
                          <img src="https://img.itch.zone/aW1nLzc1NzA3NDgucG5n/original/u8s8X%2B.png" class="projects" alt="{{ site.title }}" />
                          <a href="{{ post.url }}"></a>
                          <img src="https://img.itch.zone/aW1nLzgxMjg3MDkucG5n/315x250%23c/SZx8bS.png" class="projects" alt="{{ site.title }}" />
                          <a href="{{ post.url }}"></a>
                          <img src="https://img.itch.zone/aW1nLzY4NjM1NDAucG5n/315x250%23c/Qiri%2FT.png" class="projects" alt="{{ site.title }}" />
                          <a href="{{ post.url }}"></a>
                      </li>
                  <li>
                      <small><i><a href="https://pepperboi.itch.io">more projects...</a></i></small>
                  </li>
              </ul>

            </div>

        </div>
          <div class="col-md-12 main content-panel">

            <div class="articles">

              <h2>Latest Articles</h2>

              <ul>
                  {% for post in site.posts limit: site.post_limit %}

                      <li>
                          <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                          <small class="hidden-xs">{{ post.date | date: "%B %-d, %Y" }}</small>
                      </li>

                  {% endfor %}
                  <li>
                      <small><i><a href="{{ site.baseurl }}/posts/">more...</a></i></small>
                  </li>
              </ul>

            </div>

        </div>

    </div>
</div>
