<p class="links">
  {% if site.github_username %}<a class="color-purple-hover" href="https://github.com/{{ site.github_username }}" target="_new" ><i class="fab fa-github"></i></a>{% endif %}
  {% if site.itch_username %}<a class="color-red-hover" href="https://{{ site.itch_username }}.itch.io" target="_new"><i class="fab fa-itch-io"></i></i></a>{% endif %}
  {% if site.medium_username %}<a class="color-green-hover" href="https://medium.com/@pepperboi" target="_new"><i class="fab fa-medium"></i></i></a>{% endif %}
</p>
